@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
   position: fixed;
   width: 100%;
   background-color: rgb(7, 58, 103);  
}
nav img{
    position:absolute;
   margin-top: 100px;
    top: 20px;
    z-index: 1;
    width: 380px;
    height: 220px; 
    border-radius: 50%;
}
.menu-desktop{
margin: 0;
padding: 0;
text-align: right;
animation-name: unset;
}
.menu-desktop li{
    list-style: none;
    display: inline;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
.menu-desktop li a{
    padding: 30px 40px;
    text-decoration: none;
    color:wheat;
    display: inline-block;
    margin-right: -3px;
    font-size: larger;
    letter-spacing: 0.60;
}
.menu-desktop li a:hover{
    background-color: lightsalmon;
}
body{
    background-image: url(../img/Fundo.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 100%;
    height: 400px;

}
h1 h2 {
    text-align: center;
}

main{}

.pizza{
    width: 33.3%;
    float: left;
    background-color: chocolate;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);

}
.pizza img{
    position: center;
    border: solid 10px gray;
    border-bottom-color: rgb(69, 68, 68);
    border-right-color: rgb(69, 68, 68);
    border-top-color: rgb(167, 167, 167);
    width: 99%;
    max-height: 300px;
    object-fit: cover;
    text-align: center;
    object-position: top center;

}
.pizza h2{

    padding: auto;
    text-align: center;
    margin-bottom: none;
    
}
.pizza p{
    text-align: center;
    padding: 5%;
    margin-top: 1%;
    color: black;
    font-size: 90;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pizza a{
    border: 10px solid rgb(133, 14, 37);
    display: block;
    text-align: center;
    background-color: crimson ;
    color: aliceblue;
    padding: 3%;
    text-decoration: none;
    width: 99%

}
.pizza a:hover{
    background-color: brown;
}
footer{
    width: 200px;
    position: static;
    background-color: rgb(137, 57, 0);
}